body {
    background-color:orange;
}
header {
    background-color: tomato;
    padding: 10px;
}

h1 img {
    height:50px;
    width:50px;
    padding-right:20px;
}
h1 {
    text-align:center;
    font-family:cursive;
    font-size:40px;
}

h2 {
   text-decoration: underline;
}

.column-1 {
    /*background-color:orange;*/
    display:inline:block;
    float:left;
    width:50%;
    box-sizing:border-box;
    padding-left:20px;
    
}
.column-2 {
    /*background-color:orange;*/
    display:inline:block;
    float:right;
    width:50%;
    padding-bottom: 38px;
    padding-left:20px;
    box-sizing:border-box;
   
    
}
.column-1 a:visited {
    color:yellow;
}

.column-1 a:hover {
    color:green;
}

footer {
    background-color:tomato;
    clear:both;
    padding: 15px;
}
